<!DOCTYPE html
          PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="assets/images/favicon.png" type="image/gif" sizes="16x16" />
    <title>The Nutritious Dog </title>

    <!--------Jqurey min css-------->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!--------Style css-------->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />

    <link rel='stylesheet' href='https://cdn.plyr.io/3.4.6/plyr.css' />
    <!--------Style css-------->
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <!--------Owl css-------->
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" type="text/css" />

    <!--------Fontawesome css-------->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body id="animsition">
    <!------ Header Start ------->
    <header class="header-rw">
        <div class="max-container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="menubar">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/images/logo.png" alt="logo" height="70" />
                        </a>
                        <!-- Menu Bar -->
                        <nav class="navbar navbar-expand-lg navbar-dark p-0">

                            <!-- Nav Toggle Button -->
                            <button class="navbar-toggler my-2" id="navbarSideCollapse" type="button" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <!-- Nav Links -->
                            <div class="navbar-collapse offcanvas-collapse justify-content-center lh-lg" id="navbarSideCollapse">
                                <ul class="navbar-nav p-3 p-md-0 ms-auto">
                                    <li class="nav-item ">
                                        <a class="nav-link" href="why-tnd.html">Why TND</a>
                                    </li>
                                    <li class="nav-item"> <a class="nav-link" href="our-ingredients.html"> Our Ingredients</a> </li>
                                    <li class="nav-item dropdown ktm-mega-menu">
                                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">About us</a>
                                        <div class="dropdown-menu mega-menu rounded-0 border-0 shadow-sm p-3">
                                            <ul>
                                                <li>
                                                    <a href="our-story.html">Our Story  </a>
                                                </li>
                                                <li>
                                                    <a href="our-food.html">Our food</a>
                                                </li>
                                                <li>
                                                    <a href="faq.html">Faq </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item"> <a class="nav-link" href="build-a-box.html">Build A Box</a> </li>
                                    <!----<li class="nav-item"> <a class="nav-link" href="shop.html">Shop</a> </li>-->
                                    <li class="nav-item"> <a class="nav-link" href="contact-us.html">Contact US</a> </li>
                                    <li class="nav-item"> <a class="nav-link" href="login.html">Log In</a> </li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Ends -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!------ Header Start ------->
    <!------ Banner Part -------->
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="banner-text">
                        <h1>
                            Human-Grade<br />
                            Food For Dogs.
                        </h1>
                        <p> It’s time we feed our pets the same quality food we eat ourselves</p>
                        <a href="about-us.html" class="btn-main">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="max-container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="video-container">
                        <div class="video-main">
                            <div class="container">
                                <video controls=controls autoplay=autoplay loop=loop width="100%">
                                    <!-- Video files -->
                                    <source src="assets/images/video.mp4" type="video/mp4" size="576" />
                                    <source src="assets/images/video.mp4" type="video/mp4" size="720" />
                                    <source src="assets/images/video.mp4" type="video/mp4" size="1080" />
                                    <source src="images/video.mp4" type="video/mp4" size="1440" />
                                </video>

                            </div>
                        </div>
                        <a href="javascript:void(0)" id="goToBottom"><i class="fas fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------ Banner Part -------->
    <!------ Why TND ------->
    <section class="why-tnd">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="abt-info">
                        <p>The Nutritious D.O.G. is on a mission to change the way your pets are fed! We believe in giving your pets the best nutrition in order for them to have a happy and healthy life. </p>
                        <p>Our lip-smacking freshly cooked wholesome meals have been approved by pet nutritionists and by our in-house vet who is also a co-founder.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="why-tnd-inner mrt-100">
                        <div class="heading">
                            <img src="assets/images/heading-icon.jpg" alt="favicon" />
                            <h3>Why TND</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="why-tnd-list">
                                <div class="why-tnd-img">
                                    <img src="assets/images/Our-Philosophy.png" alt="Our-Philosophy" />
                                </div>
                                <div class="why-tnd-des">
                                    <h4>Our Philosophy </h4>
                                    <p>We are all about it keeping it fresh and real. We want pet parents to feel good knowing that they are giving their pets the best quality food.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="why-tnd-list">
                                <div class="why-tnd-img">
                                    <img src="assets/images/We-Believe-In.png" alt="We-Believe-In" />
                                </div>
                                <div class="why-tnd-des">
                                    <h4>We Believe In </h4>
                                    <p>Quality ingredients-100% real food with 40+ bioactive ingredients,   /’’ and steroid free meat; no by-products or fillers. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="why-tnd-list">
                                <div class="why-tnd-img">
                                    <img src="assets/images/Importanc-Of-Nutrition.png" alt="Importanc-Of-Nutrition" />
                                </div>
                                <div class="why-tnd-des">
                                    <h4>Importance Of Nutrition </h4>
                                    <p>Dogs live longer eating real food. We want dogs to spend less time at the vet and more years with you.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------ Why TND ------->
    <!------ About Us ------->
    <section class="about-rw h-abt-rw mrt-100">
        <div class="container">
            
            <div class="row d-flex">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="about-left align-right">
                        <h3 class="bg-head">About Us</h3>
                        <h4>Our Story </h4>
                        <p>We are pet parents coming from various industry backgrounds who were facing challenges when it came to our dog's nutrition and health.</p>
                        <p>To really know us, we think It’s best you directly hear from our dogs!</p>
                        <a href="our-story.html" class="btn-main">
                            read more
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="about-right about-imgs">
                        <img src="assets/images/our-story.jpg" alt="our-story" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------ About Us ------->
    <!------ Our Food ------->
    <section class="about-rw mrt-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="about-right about-imgs">
                        <img src="assets/images/our-food.jpg" alt="our-food" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="about-left align-left">
                        <h3>Our Food</h3>
                        <h4>About Food </h4>
                        <p>Our recipes are slow cooked to preserve vital nutrients, and every meal in the week is packed with purposeful whole food ingredients that provide the nutrients your pet needs to live out their best life.</p>
                        <a href="our-story.html" class="btn-main">
                            read more
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------  Our Food ------->
    <!------- Testimonial --------->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="why-tnd-inner mrt-100">
                    <div class="heading">
                        <img src="assets/images/heading-icon.jpg" alt="favicon" />
                        <h3>Testimonial</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonial-rw">
        
        <div class="testimonial-rw-left">
            <div class="owl-carousel owl-theme" id="testimonial">
                <div class="item">
                    <div class="testimonial-item">
                        <p>
                            <i class="fas fa-quote-left"></i>  Hi, I am Luna, Zoey’s best friend. I am a 1.5 year old Golden Retriever. Zoey’s parents shared some of her food with me and helped my parents understand the importance of being on a balanced diet as opposed to just having chicken and rice. My parents together with Zoey’s parents, two of their close friends and their vet decided to take this idea forward because they want all dogs to eat this way and that’s how The Nutritious D.O.G. was born!
                        </p>
                        <div class="user-imgs">
                            <img src="assets/images/user-1.png" alt="user-1" />
                            <span>Luna</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-item">
                        <p>
                            <i class="fas fa-quote-left"></i>  Hi, I am Luna, Zoey’s best friend. I am a 1.5 year old Golden Retriever. Zoey’s parents shared some of her food with me and helped my parents understand the importance of being on a balanced diet as opposed to just having chicken and rice. My parents together with Zoey’s parents, two of their close friends and their vet decided to take this idea forward because they want all dogs to eat this way and that’s how The Nutritious D.O.G. was born!
                        </p>
                        <div class="user-imgs">
                            <img src="assets/images/user-1.png" alt="user-1" />
                            <span>Luna</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-item">
                        <p>
                            <i class="fas fa-quote-left"></i>  Hi, I am Luna, Zoey’s best friend. I am a 1.5 year old Golden Retriever. Zoey’s parents shared some of her food with me and helped my parents understand the importance of being on a balanced diet as opposed to just having chicken and rice. My parents together with Zoey’s parents, two of their close friends and their vet decided to take this idea forward because they want all dogs to eat this way and that’s how The Nutritious D.O.G. was born!
                        </p>
                        <div class="user-imgs">
                            <img src="assets/images/user-1.png" alt="user-1" />
                            <span>Luna</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-rw-right">
            <img src="assets/images/testimonial-right.jpg" alt="testimonial-right" />
        </div>
    </section>
    <!------- Testimonial --------->
    <!------ How It Works ------->
    <section class="why-tnd  mrt-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="why-tnd-inner">
                        <div class="heading">
                            <img src="assets/images/heading-icon.jpg" alt="favicon" />
                            <h3>How It Works</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="why-tnd-list how-it-works-left">
                                <img src="assets/images/how-it-works.jpg" alt="how-it-works" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="how-it-work-list">
                                <ul>
                                    <li>
                                        <h5>Step 1</h5>
                                        <p>Every pet is unique. Tell us a few details about your pet's profile and lifestyle.</p>
                                    </li>
                                    <li>
                                        <h5>Step 2</h5>
                                        <p>
                                            We will structure a meal plan based on your dog’s breed, weight, age, lifestyle and health challenges.
                                        </p>
                                        <p> Your dog’s health is our priority. For any transition of food, it is important to introduce the food slowly. The transition period will be based on what your dog currently eats.</p>
                                    </li>
                                    <li>
                                        <h5>Step 3</h5>
                                        <p>We will send you an email or whatsapp with the recommend food quantity and the subscription options.</p>
                                        <p><b>Note:</b>we may call you to understand more about your pet to ensure he is getting the right nutrition.</p>
                                    </li>
                                    <li>
                                        <h5>Step 4</h5>
                                        <p>
                                            Our freshly made meals will be delivered to you on a weekly basis consisting of 7 meals. Every pack is made ready to serve. Take a pack out of the refrigerator and pour it into your pet's bowl.
                                        </p>
                                        <p>
                                            <b>Note:</b> Even though our meals can be stored in the fridge for up to 7 days, due to power cuts in Bangalore, it is recommended that meals 4-7 be stored in the freezer and thaw before serving.
                                        </p>
                                    </li>
                                </ul>
                                <a target="_blank" href="//api.whatsapp.com/send?phone=+91 8504962445&amp;text=Welcome to The Nutritious D.O.G." class="btn-main">
                                    Whats app now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------ How It Works ------->
    <!------ Why TND ------->
    <section class="why-tnd mrb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="our-gols-rw">
                        <div class="why-tnd-bg">
                        </div>
                        <div class="why-tnd-inner">
                            <div class="heading">
                                <img src="assets/images/heading-icon.jpg" alt="favicon" />
                                <h3>Our end goal</h3>
                            </div>
                            <ul class="our-goal">
                                <li>
                                    <div class="goal-img">
                                        <img src="assets/images/Lesser-Health-Issues.png" alt="Lesser-Health-Issues" />
                                    </div>
                                    <p>lesser health issues</p>
                                </li>
                                <li>
                                    <div class="goal-img">
                                        <img src="assets/images/More-Energy.png" alt="More-Energy" />
                                    </div>
                                    <p>more energy</p>
                                </li>
                                <li>
                                    <div class="goal-img">
                                        <img src="assets/images/Healthy-Shiny-Coat.png" alt="Healthy-Shiny-Coat" />
                                    </div>
                                    <p>a healthy shiny coat</p>
                                </li>
                                <li>
                                    <div class="goal-img">
                                        <img src="assets/images/Healthy--Bowel-Movements.png" alt="Healthy--Bowel-Movements" />
                                    </div>
                                    <p>healthy bowel movements</p>
                                </li>
                                <li>
                                    <div class="goal-img">
                                        <img src="assets/images/Ideal-Body-Weight.png" alt="Ideal-Body-Weight" />
                                    </div>
                                    <p>ideal body weight</p>
                                </li>
                                <li>
                                    <div class="goal-img">
                                        <img src="assets/images/Bowl-Licked-Clean.png" alt="Bowl-Licked-Clean" />
                                    </div>
                                    <p>a bowl licked clean!</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------ Why TND ------->
    <!------ Blog
    <section class="why-tnd blog-rw mrt-100 mrb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="why-tnd-inner">
                        <div class="heading">
                            <img src="assets/images/heading-icon.jpg" alt="favicon" />
                            <h3>Our Blog</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="why-tnd-list">
                                <a href="blog-detial.html">
                                    <img src="assets/images/blog-1.jpg" alt="blog-1" />
                                </a>

                            </div>
                            <div class="blog-heading">
                                <p>Jan 19, 2022</p>

                                <h4>
                                    <a href="blog-detail.html">How To Encourage Your Puppy to Eat</a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="why-tnd-list">
                                <a href="blog-detial.html">
                                    <img src="assets/images/blog-2.jpg" alt="blog-2" />
                                </a>

                            </div>
                            <div class="blog-heading">
                                <p>Jan 20, 2022</p>

                                <h4>
                                    <a href="blog-detail.html">Pros & Cons For Your Dog's Health</a>
                                </h4>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="why-tnd-list">
                                <a href="blog-detial.html">
                                    <img src="assets/images/blog-3.jpg" alt="blog-3" />
                                </a>

                            </div>
                            <div class="blog-heading">
                                <p>Jan 21, 2022</p>
                                <h4>
                                    <a href="blog-detail.html">
                                        How To Change Your Dog's Food Brand In 7 Days
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> ------->
    <!------ Blog ------->
    <!------ Footer ------->
    <footer class="footer-rw">
        <div class="newsletter mrb-100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <h4>
                            Stay in the loop with the nutritious dog and
                            we'll dish up 5% off your first delivery!
                        </h4>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="newsletter-form">
                            <form method="post" enctype="multipart/form-data">
                                <input type="text" value="" name="" placeholder="Email..." />
                                <button type="submit" value="submit" name="">Join Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-inner mrb-100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="footer-head">
                            <h4>company</h4>
                        </div>
                        <div class="quick-links">
                            <ul>
                                <li>
                                    <a href="our-story.html">About Us</a>
                                </li>
                                <!--  <li>
                                      <a href="shop.html">Shop</a>
                                  </li>-->
                                <!-- <li>
                                     <a href="blog.html">Blog</a>
                                 </li>-->
                                <li>
                                    <a href="build-a-box.html">Build A Box</a>
                                </li>
                                <li>
                                    <a href="contact-us.html">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="footer-head">
                            <h4>Policies</h4>
                        </div>
                        <div class="quick-links">
                            <ul>
                                <li>
                                    <a href="terms-and-conditions.html">Terms And Condition’s</a>
                                </li>
                                <li>
                                    <a href="refund-policy.html">Refund Policy</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                               <!--<li>
                                    <a href="shipping-details.html">Shipping Details</a>
                                </li>
                                <li>
                                    <a href="join-our-pack.html">Join Our Pack</a>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="footer-head">
                            <h4>Connect With Us</h4>
                        </div>
                        <div class="quick-links">
                            <ul>
                                <li>
                                    <a href="mailto:info@thenutritiousdog.com">info@thenutritiousdog.com</a>
                                </li>
                                <li>
                                    <a href="tel:+000000000">+000 000 000</a>
                                </li>
                                <li>
                                    <a href="">397, Ram Vihar, Gopal Pura Mode, Jaipur</a>
                                </li>
                                <li>
                                    <div class="social-media">
                                        <a href="" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="" target="_blank">
                                            <i class="fab fa-google"></i>
                                        </a>
                                        <a href="" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="" target="_blank">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p>Copyright © 2022 The Nutritious Dog. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!------ Footer ------->
    <div class="calltoaction-res">
        <a target="_blank" href="//api.whatsapp.com/send?phone=+91 8504962445&amp;text=Welcome to The Nutritious D.O.G." class="wh-icon">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
    <a href="javascript:void(0)" id="scroll" style="display: none;"><span></span></a>
    <!------ Footer ---------->
    <!------Jquery min js---->
    <script src="assets/js/jquery.min.js" type="text/javascript"></script>

    <!------Proper min js---->
    <script src="assets/js/popper.min.js" type="text/javascript"></script>

    <!------Bootstrap min js---->
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

    <!------Owl carousel slider js---->
    <script src="assets/js/owl.carousel.js" type="text/javascript"></script>

    <script src="assets/js/script.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#scroll').fadeIn();
                } else {
                    $('#scroll').fadeOut();
                }
            });
            $('#scroll').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });
        });
        //Scroll Bottom
        $('#goToBottom').click(function () {

            var WH = $(window).height();
            var SH = $('body').prop("scrollHeight");
            $('html, body').stop().animate({ scrollTop: SH - WH }, 600);

        });
    </script>
    <script src='https://cdn.plyr.io/3.4.6/plyr.js'></script>
    <script>
        //video player
        document.addEventListener('DOMContentLoaded', () => {
            // This is the bare minimum JavaScript. You can opt to pass no arguments to setup.
            const player = new Plyr('#player');

            // Expose
            window.player = player;


            // Bind event listener
            function on(selector, type, callback) {
                document.querySelector(selector).addEventListener(type, callback, false);
            }


            // Play
            on('.js-play', 'click', () => {
                player.play();
            });

            // Pause
            on('.js-pause', 'click', () => {
                player.pause();
            });

            // Stop
            on('.js-stop', 'click', () => {
                player.stop();
            });

            // Rewind
            on('.js-rewind', 'click', () => {
                player.rewind();
            });

            // Forward
            on('.js-forward', 'click', () => {
                player.forward();
            });
        });

        $(document).ready(() => {

            $('.player-src').on('click', function () {

                src = $(this).data("src");
                type = 'video/' + $(this).data("type");
                poster = $(this).data("poster") || "";

                player.source = {
                    type: 'video',
                    title: 'Example title',
                    sources: [
                        {
                            src: src,
                            type: type,
                            size: 720
                        }
                    ],
                    poster: poster
                };

                player.play();

            });
        })
    </script>

</body>

</html>
