<!DOCTYPE html
          PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="assets/images/favicon.png" type="image/gif" sizes="16x16" />
    <title>The Nutritious Dog </title>

    <!--------Jqurey min css-------->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!--------Style css-------->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />

    <link rel='stylesheet' href='https://cdn.plyr.io/3.4.6/plyr.css' />
    <!--------Style css-------->
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <!--------Owl css-------->
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" type="text/css" />

    <!--------Fontawesome css-------->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body id="animsition">
    <!------ Header Start ------->
    <header class="header-rw">
        <div class="max-container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="menubar">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/images/logo.png" alt="logo" height="70" />
                        </a>
                        <!-- Menu Bar -->
                        <nav class="navbar navbar-expand-lg navbar-dark p-0">

                            <!-- Nav Toggle Button -->
                            <button class="navbar-toggler my-2" id="navbarSideCollapse" type="button" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <!-- Nav Links -->
                            <div class="navbar-collapse offcanvas-collapse justify-content-center lh-lg" id="navbarSideCollapse">
                                <ul class="navbar-nav p-3 p-md-0 ms-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="why-tnd.html">Why TND</a>
                                    </li>
                                    <li class="nav-item"> <a class="nav-link" href="our-ingredients.html"> Our Ingredients</a> </li>
                                    <li class="nav-item dropdown ktm-mega-menu">
                                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">About us</a>
                                        <div class="dropdown-menu mega-menu rounded-0 border-0 shadow-sm p-3">
                                            <ul>
                                                <li>
                                                    <a href="our-story.html">Our Story  </a>
                                                </li>
                                                <li>
                                                    <a href="our-food.html">Our food</a>
                                                </li>
                                                <li>
                                                    <a href="faq.html">Faq </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item"> <a class="nav-link" href="build-a-box.html">Build A Box</a> </li>
                                    <!----<li class="nav-item"> <a class="nav-link" href="shop.html">Shop</a> </li>-->
                                    <li class="nav-item"> <a class="nav-link" href="contact-us.html">Contact US</a> </li>
                                    <li class="nav-item"> <a class="nav-link" href="login.html">Log In</a> </li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Ends -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!------ Header Start ------->
    <!------ Banner Part -------->
    <section class="banner inner-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="banner-text">
                        <h1>
                            terms & conditions
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------ Banner Part -------->
    <!------ About Us ------->
    <section class="about-rw fl-rw mrt-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="terms-content">
                        <p>Thank you for visiting <a href="www.tnd.com">www.tnd.com</a>, an online portal belonging to SSSV Pet Dojo LLP. Your visit to this website is subject to these terms and conditions and our privacy policy, available here on this website at <a href="https://www.tnd.com/privacy-policy"> https://www.tnd.com/privacy-policy </a></p>
                        <p>This document is published in accordance with the provisions of Rule 3(1) of the Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and user agreement for access or usage of <a href="www.tnd.com">tnd.com</a></p>
                    </div>
                    <div class="terms-content">
                        <h3>About us</h3>
                        <p>This website is operated by the SSSV Pet Dojo LLP a company incorporated under the Indian Companies Act, 1956 and having its registered office 58/A, 1st Cross Road. Domlur Layout. Bangalore 560071.  (hereinafter referred to as the “Company”) and it is an online auction hosting portal to help users engage in experiences carefully curated to fulfill exclusive services. The website is designed to provide services and contents on an “as is” basis.</p>
                    </div>
                    <div class="terms-content">
                        <ol>
                            <li>
                                <h4>Use of the Website</h4>
                                <ol>
                                    <li>
                                        By your use of this website, you confirm your acceptance and it would be accepted as would a written agreement with your signature. Your use of this website confirms your agreement to follow these terms and conditions and to be bound by them. The Company reserves the right to update or modify these terms and conditions at any time without prior notice. Your use of this website following any such change constitutes your agreement to follow and be bound by the terms and conditions as and when they are changed.
                                    </li>
                                    <li>
                                        You accept all the terms and conditions as follows:
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Agreement</h4>
                                <ol>
                                    <li>
                                        “Agreement” means the terms and conditions as detailed herein including all schedules, appendices, annexures, privacy policy, payment policy and will include the references to this agreement as amended, supplemented, varied or replaced from time to time.
                                    </li>
                                    <li>
                                        This Agreement is between:
                                    </li>
                                    <li>The Company, which expression shall, unless repugnant to or inconsistent with the context, mean and include the successors and permitted assigns, heirs, executors, legal representatives and administrators, as the case may be of the One Part and</li>
                                    <li>
                                        “You”, the user of the website (which is owned fully by the Company) as a website visitor or as a person intending to make a purchase or actually making a purchase on our website.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Membership Eligibility</h4>
                                <ol>
                                    <li>
                                        Further, the use of the Website is available only to persons who can form legally binding contracts under the Indian Contract Act, 1872. Persons who are “incompetent to contract” within the meaning of the Indian Contract Act, 1872, including minors, un-discharged insolvents, etc. are not eligible to use the website. If you are a minor i.e. under the age of 18 years, you shall not register as a member of the website and shall not sell, purchase or bid for any items on the website. As a minor, if you wish to purchase or sell an item on the website such purchase or sale may be made by your legal guardian or parents who have registered as users of the website. The Company reserves the right to terminate your membership and refuse to provide you with access to the website if it is brought to the website’s notice or if it is discovered that you are under the age of 18 years.
                                    </li>

                                </ol>
                            </li>
                            <li>
                                <h4>Registration</h4>
                                <ol>
                                    <li>
                                        By registering or signing in to the website and/or availing/rendering services and experiences through this website, you acknowledge that you have read specific terms related to each product and you expressly agree to observe, abide by and be bound by all the terms and conditions of use of each product, service or experience, as the case may be. If you do not agree to all or any of the terms, please promptly exit the site and not access or use the website thenceforth.

                                    </li>
                                    <li>
                                        By providing your contact details you have authorized TND to contact you in future through Calls/SMS/Emails to inform you about our products and services. The authorization is auto-renewed after every six months and if you wish to unsubscribe, you can notify us by emailing to <a href="mailto:support@bennysbowl.com">support@bennysbowl.com</a>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Limitation of Liability</h4>
                                <ol>
                                    <li>
                                        In no event shall the Company or its suppliers, affiliates and service providers be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to damages for loss of profits, goodwill, use, data or other intangible losses arising out of or in connection with the website/Portal, its services or this Agreement (however arising, including negligence).
                                    </li>
                                    <li>
                                        The Information Technology Act, 2000 expressly provides protection to intermediaries under Section 79(2) (a) wherein it is clearly stated that “the function of an intermediary is limited to providing access to a communication system over which information made available by third parties is transmitted or temporarily stored or hosted” thereby proving that the Company website is only a platform for e-commerce and cannot be held liable for acts or misdoings of a user.
                                    </li>
                                    <li>
                                        The liability of the Company is limited to the value of the products or services purchased from the Company and any delivery charges that may have been charged. Under no circumstances shall the Company be held liable for any direct or indirect costs incurred by you for any reason related to the purchase or intended purchase of products and services on the website owned by the Company.
                                    </li>
                                    <li>
                                        The Company is not responsible for any non-performance or breach of any contract entered into between users. The Company cannot and does not guarantee that the concerned users will perform any transaction concluded on the website. The Company shall not and is not required to mediate or resolve any dispute or disagreement between users.
                                    </li>
                                    <li>
                                        If you visit any external websites by way of the links are provided, the Company shall have no responsibility for any loss or costs or damages suffered by you. By using this website, you declare and agree that you have the full power and authority to make and enter into a transaction with the Company.
                                    </li>
                                    <li>
                                        The Company shall not be liable for any loss or damage arising from its failure to perform any of its obligations under this Agreement if such failure is the result of circumstances beyond its control including but not limited to the outbreak of war, any governmental act, act of war, explosion, accident, civil commotion, riot, industrial dispute, bandh instituted by any person including a political party, strike, lockout, stoppages or restraint of labour from whatever cause, whether partial or general, weather conditions, traffic congestion, mechanical breakdown, obstruction of any public or private road, or highway or outbreak of any communicable disease or any other force majeure, fire, flood or any other act of God.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Indemnity</h4>
                                <ol>
                                    <li>
                                        You shall indemnify and hold harmless the Company and (as applicable) subsidiaries, affiliates, third-parties and their respective officers, directors, agents and employees, from any claim or demand, or actions including reasonable attorneys’ fees, made by any third party or penalty imposed due to or arising out of your breach of these terms and conditions and other policies, or your violation of any law, rules or regulations or the rights (including infringement of intellectual property rights) of a third party.
                                    </li>

                                </ol>
                            </li>
                            <li>
                                <h4>Intellectual Property and Ownership Rights</h4>
                                <ol>
                                    <li>
                                        The Company owns the website and shall retain all intellectual property rights, and ownership and proprietary rights and shall have the sole right, title, and interest in and over the website. No part of the website, the designs or the terms and references within shall be copied or transmitted for commercial purposes. Nothing contained in this Agreement shall give or be deemed to grant, whether directly or by implication, any right, title or interest in or to the ownership or use of any intellectual property whether registered under the law or otherwise. Purchases of products and services on this site does not transfer any of the intellectual property related to the products, their design or concepts to you.
                                    </li>

                                </ol>
                            </li>
                            <li>
                                <h4>Site Policy Modifications</h4>
                                <ol>
                                    <li>
                                        The Company may at any time unilaterally make changes or modify the website, its contents, the policies and terms and conditions including the privacy policy, shipping policy, return policy without any prior notice. The Company reserves the right to update or modify these terms and conditions at any time without prior notice. Your use of this website following any such change constitutes your agreement to follow and be bound by the terms and conditions as and when they are changed. If you are dissatisfied with the website, the materials available on it, or with these terms of use, your sole and exclusive remedy is to discontinue using the website.
                                    </li>

                                </ol>
                            </li>
                            <li>
                                <h4>Technology Limitations and Modifications</h4>
                                <ol>
                                    <li>
                                        The Company will make reasonable efforts to keep the service operation of the website. However, certain technical difficulties or maintenance may, from time to time may result in temporary interruptions. The Company reserves the right, periodically and at any time, to modify or discontinue, temporarily or permanently, functions and features of the service, with or without notice, all without liability to you for any interruption, modification, or discontinuation of the service or any function or feature thereof. You understand and agree that the website has no obligation to maintain, support, upgrade, or update the service, or to provide all or any specific content through the service.
                                    </li>
                                    <li>
                                        If due to technical reasons, the website gets down or unreachable, we reserve rights to cancel auction remained life during that downtime. All used credits will be refunded to user or auction will be rescheduled after informing all members, a winner on that auction will not be entitled to claim that product or service.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Platform for Transaction and Communication</h4>
                                <ol>
                                    <li>
                                        The Company aims to make information about products and services accurate. However, should there be unintentional discrepancies relating to the product, pricing, availability, shipping and product supply, the Company will make good by correcting the amount (if incorrectly charged) and will have the right to make changes to the website to amend such discrepancies without any obligation to make available any product or service in accordance with the discrepancy.
                                    </li>
                                    <li>
                                        The Company does not make any representations or warranty as to the item-specifics (such as quality, worth, marketability, etc.,) of the items or services to be sold or offered to be sold or purchased on the website. The Company does not accept any liability for any errors or omissions, whether on behalf of itself or third parties.
                                    </li>
                                    <li>You will be bound by your own judgment of the safety and risks associated with various products and services that may be sold as intimated by the Company, and are solely or provided responsible for the consequences of the use of these products.</li>
                                    <li>The Company is not and cannot be a party to or control in any manner any transactions between two users of the website. The function of this website is limited to providing access to a communication system over which information made available by third parties is transmitted or temporarily stored or hosted.</li>
                                </ol>
                            </li>
                            <li>
                                <h4>Delivery</h4>
                                <ol>
                                    <li>
                                        Delivery of products will be done by the method indicated in the order. If for any reason the Company decides to send the product by some other method, other than the one indicated in the order, you will not be required to pay any additional charges for the same.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Content</h4>
                                <ol>
                                    <li>
                                        While we try to offer reliable data, we cannot promise that the product color and actual size will always be accurate and up-to-date, and the same may vary from the visual representation on the website.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Website Monitoring and Censoring</h4>
                                <ol>
                                    <li>
                                        The Company retains the right to monitor and censor all content on the website, including without limitation content posted by end users. The Company hold the right to removal of any offending content, including, but not limited to, any illegal materials, pornographic, obscene or sexually explicit materials, materials of a violent nature, or politically sensitive materials, from the website as soon as possible after it becomes aware of such offending content. The user’s failure to comply with this shall be deemed a material breach of this Agreement.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Return policy</h4>
                                <ol>
                                    <li>
                                        Once you place an order with the Company and such order has been processed, you shall not be permitted to cancel or modify such order. You can only return damaged products or products that are not as per your order. Returns must comply with the return conditions as set out in our returns and refund policy.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Abusing the Company</h4>
                                <ol>
                                    <li>
                                        Without prejudice to any other remedies available to the Company under the applicable law, we may issue you with warnings, limit, suspend, or terminate our service and user accounts, restrict or prohibit access to, and your activities on, our site(including without limitation by cancelling bids), and take technical and legal steps to keep you off our site if:
                                    </li>
                                    <li>we think that you are creating problems (including, without limitation, by harassing the Company staff or other users or by making unreasonable legal threats against the Company or exposing us or another the Company user to financial loss or legal liabilities.</li>
                                    <li>despite our reasonable endeavors, we are unable to verify or authenticate any information you provide to us</li>
                                    <li>
                                        we have reasonable grounds to suspect that you have registered or participated in contests or placed bids in auctions using multiple tabs in a single browser or multiple browsers or using multiple user IDs; and any fraudulent activities, misrepresentations or criminal activities.
                                    </li>
                                    <li>
                                        You undertake to participate in contests, auctions or other programmes conducted by the Company as an individual. Formation of teams and collusion between you and any other participant(s) or bidder(s) for participating and is expressly forbidden and will result in us deleting the accounts and debarring access.
                                    </li>
                                    <li>
                                        The Company exercises all necessary precautions to ensure that the bidding/ contest process is transparent and fair where equal opportunity is provided to all participants. Should it come to the Company’s notice that you have tried to or are trying to prejudice the process to your advantage or have tried to or are gaining unfair advantage you will forfeit the right to participate in events.
                                    </li>
                                    <li>
                                        Any fraud, neglect, deliberate omission, wrongful act or default conducted by the user will be subject to legal action.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Specific Bidding Terms and Conditions</h4>
                                <ol>
                                    <li>
                                        To participate in auctions you may be required to pay bidding fees and/ or earnest money deposits which may vary. The exact bidding fee is auction specific and will be stated in each auction.
                                    </li>
                                    <li>You undertake that you yourself will bid in all auctions in which you have participated, and not use any software programs, bots, devices or any other form of external assistance to bid. Any attempt to employ any such external assistance will result in you being debarred from further participation and cancellation of your registration with us.</li>
                                    <li>Subject to qualifications and limitations provided in sub-clause 14.5, if you bid the highest bid at the closing of an auction cycle, you may become the successful bidder according to the conditions set forth in these terms, which constitute a legal agreement between you and the Company.</li>
                                    <li>
                                        The maximum number of allowed paid bids per auction per user will vary according to the auction and will be described in the auction detail page.
                                    </li>
                                    <li>
                                        Any auction or bidding process conducted by the Company is not on the basis of wagering contracts or luck.
                                    </li>
                                    <li>
                                        Notwithstanding anything contained elsewhere in these terms and conditions, the highest bidder shall not become a successful bidder if any of the following terms are not fulfilled
                                    </li>
                                    <li>
                                        Person bidding in a bid is different than the who is desirous of availing the product/services.
                                    </li>
                                    <li>Bidder is not competent to contract</li>
                                    <li>Celebrity/person giving the invitation to offer any product(s)/service(s) has rejected or refused or not accepted the offer made by the bidder for any reason whatsoever including but not limited to non-compliance of KYC norms, reputation, non-payment, etc.</li>
                                    <li>Incorrect or incomplete information provided by the bidder</li>
                                    <li>Bidder committed any act of misconduct or negligence</li>
                                </ol>
                            </li>
                            <li>
                                <h4>Assignment and Transfer</h4>
                                <ol>
                                    <li>
                                        The Company has the right to assign or transfer all or part of its rights or obligations under this Agreement without prior notice/notification.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Severability</h4>
                                <ol>
                                    <li>
                                        Should any provision of the terms be held invalid or unenforceable for any reason or to any extent, such invalidity or enforceability shall not in any manner affect or render invalid or unenforceable the remaining provisions of the terms, and the application of that provision shall be enforced to the extent permitted by law.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Termination</h4>
                                <ol>
                                    <li>
                                        The Company may terminate or suspend access to website services immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the terms and conditions.
                                    </li>
                                    <li>All provisions of these terms and conditions which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, disclaimers, indemnity and limitations of liability.</li>
                                </ol>
                            </li>
                            <li>
                                <h4>Governing Law</h4>
                                <ol>
                                    <li>
                                        This Agreement shall be subject to and construed in accordance with the laws of India and subject to the exclusive jurisdiction of the courts of Delhi, India.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Arbitration</h4>
                                <ol>
                                    <li>
                                        In the event of any disputes, differences or controversies between the Parties hereto, out of or in connection with the provisions of this Agreement, or any action is taken hereunder, the Parties hereto shall thoroughly explore all possibilities for an amicable settlement. In case an amicable settlement cannot be reached, such disputes, differences or controversies shall be referred to arbitration by a sole arbitrator, appointed by the Company in accordance with the provisions of the Arbitration and Conciliation Act, 1996 including any amendment or re-enactment thereof. The arbitration venue shall be Bangalore and the arbitration proceedings shall be held in English. The arbitration award shall be in writing, final, binding and conclusive on both parties hereto.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4>Mode of Communication</h4>
                                <ol>
                                    <li>
                                        All notices, demands or other communications required or permitted to be given or made under or in connection with this Agreement shall be in writing and shall be sufficiently given or made:
                                    </li>
                                    <li>if delivered by hand; or sent by pre-paid registered post addressed to:</li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                    <div class="terms-content">
                       <p><b>SSSV Pet Dojo LLP</b></p>
                        <p><b>58/A, 1st Cross Road. Domlur Layout. Bangalore - 560071</b></p>
                        <p><b>Thank you for reading our Terms. </b></p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!------ About Us ------->
    <!------ Footer ------->
    <footer class="footer-rw">
        <div class="newsletter mrb-100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <h4>
                            Stay in the loop with the nutritious dog and
                            we'll dish up 5% off your first delivery!
                        </h4>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="newsletter-form">
                            <form method="post" enctype="multipart/form-data">
                                <input type="text" value="" name="" placeholder="Email..." />
                                <button type="submit" value="submit" name="">Join Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-inner mrb-100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="footer-head">
                            <h4>company</h4>
                        </div>
                        <div class="quick-links">
                            <ul>
                                <li>
                                    <a href="our-story.html">About Us</a>
                                </li>
                                <!--  <li>
                                      <a href="shop.html">Shop</a>
                                  </li>-->
                                <!-- <li>
                                     <a href="blog.html">Blog</a>
                                 </li>-->
                                <li>
                                    <a href="build-a-box.html">Build A Box</a>
                                </li>
                                <li>
                                    <a href="contact-us.html">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="footer-head">
                            <h4>Policies</h4>
                        </div>
                        <div class="quick-links">
                            <ul>
                                <li>
                                    <a href="terms-and-conditions.html">Terms And Condition’s</a>
                                </li>
                                <li>
                                    <a href="refund-policy.html">Refund Policy</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                                <!--<li>
                                    <a href="shipping-details.html">Shipping Details</a>
                                </li>
                                <li>
                                    <a href="join-our-pack.html">Join Our Pack</a>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="footer-head">
                            <h4>Connect With Us</h4>
                        </div>
                        <div class="quick-links">
                            <ul>
                                <li>
                                    <a href="mailto:info@thenutritiousdog.com">info@thenutritiousdog.com</a>
                                </li>
                                <li>
                                    <a href="tel:+000000000">+000 000 000</a>
                                </li>
                                <li>
                                    <a href="">397, Ram Vihar, Gopal Pura Mode, Jaipur</a>
                                </li>
                                <li>
                                    <div class="social-media">
                                        <a href="" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="" target="_blank">
                                            <i class="fab fa-google"></i>
                                        </a>
                                        <a href="" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="" target="_blank">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p>Copyright © 2022 The Nutritious Dog. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!------ Footer ------->
    <div class="calltoaction-res">
        <a target="_blank" href="//api.whatsapp.com/send?phone=+91 8504962445&amp;text=Welcome to The Nutritious D.O.G." class="wh-icon">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
    <a href="javascript:void(0)" id="scroll" style="display: none;"><span></span></a>
    <!------ Footer ---------->
    <!------Jquery min js---->
    <script src="assets/js/jquery.min.js" type="text/javascript"></script>

    <!------Proper min js---->
    <script src="assets/js/popper.min.js" type="text/javascript"></script>

    <!------Bootstrap min js---->
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

    <!------Owl carousel slider js---->
    <script src="assets/js/owl.carousel.js" type="text/javascript"></script>

    <script src="assets/js/script.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#scroll').fadeIn();
                } else {
                    $('#scroll').fadeOut();
                }
            });
            $('#scroll').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });
        });
        //Scroll Bottom
        $('#goToBottom').click(function () {

            var WH = $(window).height();
            var SH = $('body').prop("scrollHeight");
            $('html, body').stop().animate({ scrollTop: SH - WH }, 600);

        });
    </script>
    <script src='https://cdn.plyr.io/3.4.6/plyr.js'></script>
    <script>
        //video player
        document.addEventListener('DOMContentLoaded', () => {
            // This is the bare minimum JavaScript. You can opt to pass no arguments to setup.
            const player = new Plyr('#player');

            // Expose
            window.player = player;


            // Bind event listener
            function on(selector, type, callback) {
                document.querySelector(selector).addEventListener(type, callback, false);
            }


            // Play
            on('.js-play', 'click', () => {
                player.play();
            });

            // Pause
            on('.js-pause', 'click', () => {
                player.pause();
            });

            // Stop
            on('.js-stop', 'click', () => {
                player.stop();
            });

            // Rewind
            on('.js-rewind', 'click', () => {
                player.rewind();
            });

            // Forward
            on('.js-forward', 'click', () => {
                player.forward();
            });
        });

        $(document).ready(() => {

            $('.player-src').on('click', function () {

                src = $(this).data("src");
                type = 'video/' + $(this).data("type");
                poster = $(this).data("poster") || "";

                player.source = {
                    type: 'video',
                    title: 'Example title',
                    sources: [
                        {
                            src: src,
                            type: type,
                            size: 720
                        }
                    ],
                    poster: poster
                };

                player.play();

            });
        })
    </script>

</body>

</html>
